# Pandas: An Introduction

- Pandas is a python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.
- It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. 
- It has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language.

![](../all_images/pandas.png)

## Background on Pandas

- According to Wikipedia, pandas is “a software library written for the Python programming language for data manipulation and analysis.” 
- It was initially developed by Wes McKinney in 2008 while working at AQR Capital Management. 
- He was able to convince AQR to allow him to open source the library, which not only allows, but encourages data scientists across the globe to use it for free, make contributions to the official repository, provide bug reports and fixes, documentation improvements, enhancements, and provide ideas for improving the software.

### Features of Pandas

Here are just a few of the things that pandas does well:

- Easy to manipulate missing data(represented as NaN).
- Provide capability to reshaping and pivoting.
- Good for merging ang joining data sets.
- Provide a robust IO tools for loading data from flat files (CSV), Excel files, databases and HDFS.
- Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
- Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
- Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
- Hierarchical labeling of axes (possible to have multiple labels per tick)
- Time series-specific functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging.

Source: https://github.com/pandas-dev/pandas#installation-from-sources

## Pandas Installation

`pip install pandas`

If you install Anaconda Python package, Pandas will be installed by default with the following,

- Anaconda (from https://www.continuum.io) is a free Python distribution for SciPy stack. It is available for Windows, Linux and Mac.

- Canopy (https://www.enthought.com/products/canopy/) is available as free as well as commercial distribution with full SciPy stack for Windows, Linux and Mac.

- Python (x,y) is a free Python distribution with SciPy stack and Spyder IDE for Windows OS. (Downloadable from http://python-xy.github.io/)

### Pandas Dependencies

- NumPy
- python-dateutil
- pytz

### Import Pandas

In [2]:
import pandas as pd
import numpy as np

## Create: Pandas Objects

Pandas maily works with following objects,
- Series
- Data Frames

## Working with Series

Series is a one-dimensional labeled array that can holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [2]:
# Syntax
# s = pd.Series(data, index=index)

Here, data can be,

- a Python dict

- an ndarray

- a scalar value (like 5)

The passed index is a list of __axis labels__.

If data is an ndarray, index must be the same length as data. If no index is passed, one will be created having values [0, ..., len(data) - 1].

In [6]:
s = pd.Series(np.random.randn(6), index=['u', 'v', 'w', 'x', 'y','z'])

In [3]:
cars = {'Names': ['Raj','Rohit'],
        'Age': [21,19],
        "Email":["XYZ@gmail.com","ac@gmail.com"] 
       }

df = pd.DataFrame(cars, columns = ['Names', 'Age','Email'])

print (df)

   Names  Age          Email
0    Raj   21  XYZ@gmail.com
1  Rohit   19   ac@gmail.com

In [7]:
s

u   -0.125414
v   -0.584732
w    0.785457
x   -0.572341
y    1.207782
z   -0.858120
dtype: float64

In [12]:
s.index

Index(['u', 'v', 'w', 'x', 'y', 'z'], dtype='object')

In [6]:
pd.Series(np.random.randn(5))

0   -0.249328
1   -0.271754
2   -1.894169
3    1.491553
4    0.516743
dtype: float64

### From dictionary

Series can be instantiated from dictionary

In [7]:
d = {'abc': 1, 'pqw': 0, 'xyz': 2}

In [8]:
pd.Series(d)

abc    1
pqw    0
xyz    2
dtype: int64

### Note

- When the data is a dict, and an index is not passed, the Series index will be ordered by the dict’s insertion order, if you’re using Python version >= 3.6 and Pandas version >= 0.23.

- If user using Python < 3.6 or Pandas < 0.23, and an index is not passed, the Series index will be the lexically ordered list of dict keys.

If an index is passed, the values in data corresponding to the labels in the index will be pulled out.

In [2]:
d = {'a': 0., 'b': 1., 'c': 2.}

In [5]:
pd.Series(d)    # Create object without index

a    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
pd.Series(d, index=['b', 'c', 'd', 'a'])    # Create object with index

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

### Note

NaN (not a number) is the standard missing data marker used in pandas.

### From Scalar Value

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

In [7]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

## Working with DataFrame

The most commonly used pandas object, DataFrame, is a 2-dimensional labeled data structure with columns of potentially different types. Like Series, DataFrame works with many types of input,

- Dict of 1D ndarrays, lists, dicts, or Series

- 2-D numpy.ndarray

- Structured or record ndarray

- A Series

- Another DataFrame

Along with the data, we can optionally pass index (row labels) and columns (column labels) arguments. 

If axis labels are not passed, they will be constructed from the input data.

### Note

- When the data is a dict, and columns is not specified, the DataFrame columns will be ordered by the dict’s insertion order, if you are using Python version >= 3.6 and Pandas >= 0.23.

- If user are using Python < 3.6 or Pandas < 0.23, and columns is not specified, the DataFrame columns will be the lexically ordered list of dict keys.

## From dict of Series or dicts¶

The resulting index will be the union of the indexes of the various Series. If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict keys.

In [8]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [9]:
df = pd.DataFrame(d)

In [10]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [16]:
df = pd.DataFrame(d, index=['d', 'b', 'a']) # define index

In [18]:
df = pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])  # define index and column name
df

**Note**
When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [19]:
df.index

Index(['d', 'b', 'a'], dtype='object')

In [20]:
df.columns

Index(['two', 'three'], dtype='object')

### From dict of ndarrays / lists

The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [21]:
d = {'one': [1., 2., 3., 4.],'two': [4., 3., 2., 1.]}

In [22]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [23]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

### From structured or record array

This case is handled identically to a dict of arrays.

In [25]:
data = np.zeros((2, ), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
print(data)

[(0, 0., b'') (0, 0., b'')]

In [27]:
data[:] = [(1, 2., 'Hello'), (2, 3., "World")]

In [28]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [29]:
pd.DataFrame(data, index=['first', 'second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [30]:
pd.DataFrame(data, columns=['C', 'A', 'B'])

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

### Note

DataFrame is not intended to work exactly like a 2-dimensional NumPy ndarray.

### From a list of dicts

In [31]:
data2 = [{'a': 1.0, 'b': 2.0}, {'a': 5.0, 'b': 10.0, 'c': 20.0}]

In [32]:
pd.DataFrame(data2)

     a     b     c
0  1.0   2.0   NaN
1  5.0  10.0  20.0

In [33]:
pd.DataFrame(data2, index=['first', 'second'])

          a     b     c
first   1.0   2.0   NaN
second  5.0  10.0  20.0

In [34]:
pd.DataFrame(data2, columns=['a', 'b'])

     a     b
0  1.0   2.0
1  5.0  10.0

## From a dict of tuples

We can automatically create a MultiIndexed dataframe by passing a tuples dictionary.

In [35]:
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
   ....:    ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

## From CSV and Xls Files

### Pandas - IO Tools

The Pandas I/O API is a set of top level reader functions accessed like pd.read_csv() that generally return a Pandas object.

The two workhorse functions for reading text files (or the flat files) are read_csv() and read_table(). They both use the same parsing code to intelligently convert tabular data into a DataFrame object −

In [39]:
# Syntax
# pd.read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None)

In [ ]:
# Syntax
# pandas.read_csv(filepath_or_buffer, sep='\t', delimiter=None, header='infer', names=None, index_col=None, usecols=None)

Here is how the csv file data looks like −

S.No, Name, Age, City, Salary

1, Tom, 28, Toronto, 20000

2, Lee, 32, HongKong, 3000

3, Steven, 43, Bay Area, 8300

4, Ram, 38, Hyderabad, 3900

Save this data as temp.csv and conduct operations on it.

### `read.csv()`

read.csv reads data from the csv files and creates a DataFrame object.

In [41]:
import pandas as pd

df = pd.read_csv("temp.csv")
print(df)

   S.No    Name  Age      City   Salary
0     1     Tom   28    Toronto   20000
1     2     Lee   32   HongKong    3000
2     3  Steven   43        Bay    8300
3     4     Ram   38  Hyderabad   39000

### Custom Index

This specifies a column in the csv file to customize the index using index_col.

In [42]:
import pandas as pd

df = pd.read_csv("temp.csv", index_col=['S.No'])
print (df)

        Name  Age      City   Salary
S.No
1        Tom   28    Toronto   20000
2        Lee   32   HongKong    3000
3     Steven   43        Bay    8300
4        Ram   38  Hyderabad   39000

### Datatype Conversion

dtype of the columns can be passed as a dict.

In [43]:
import pandas as pd
import numpy as np

df = pd.read_csv("temp.csv", dtype={'Salary': np.float64})
print(df.dtypes)

S.No        int64
Name       object
Age         int64
City       object
Salary    float64
dtype: object

By default, the dtype of the Salary column is int, but the result shows it as float because we have explicitly casted the type.

### Custom Header Names

Specify the names of the header using the names argument.

In [44]:
import pandas as pd
 
df = pd.read_csv("temp.csv", names=['a', 'b', 'c','d','e'])
print(df)

      a       b    c          d       e
0  S.No    Name  Age      City   Salary
1     1     Tom   28    Toronto   20000
2     2     Lee   32   HongKong    3000
3     3  Steven   43        Bay    8300
4     4     Ram   38  Hyderabad   39000

Observe, the header names are appended with the custom names, but the header in the file has not been eliminated. Now, we use the header argument to remove that.

If the header is in a row other than the first, pass the row number to header. This will skip the preceding rows.

In [47]:
import pandas as pd 

df = pd.read_csv("temp.csv", names=['a','b','c','d','e'], header=0)
print(df)

   a       b   c          d      e
0  1     Tom  28    Toronto  20000
1  2     Lee  32   HongKong   3000
2  3  Steven  43        Bay   8300
3  4     Ram  38  Hyderabad  39000

### Skipping Rows

For skiping a specific row

In [46]:
import pandas as pd

df = pd.read_csv("temp.csv", skiprows=2)
print(df)

   2     Lee  32   HongKong   3000
0  3  Steven  43        Bay   8300
1  4     Ram  38  Hyderabad  39000

## Indexing and Selecting Data

The Python and NumPy indexing operator "[]" and attribute operator "." provide quick and easy access to Pandas data structures across a wide range of use cases. However, since the type of the data to be accessed isn’t known in advance, directly using standard operators has some optimization limits. For production code, we recommend that you take advantage of the optimized pandas data access methods explained in this chapter.

Pandas now supports three types of Multi-axes indexing; the three types are mentioned in the following table −

![](../all_images/pandas_index.PNG)

## Indexing with .loc()

.loc()
Pandas provide various methods to have purely label based indexing. When slicing, the start bound is also included. Integers are valid labels, but they refer to the label and not the position.

.loc() has multiple access methods like −

- A single scalar label
- A list of labels
- A slice object
- A Boolean array

loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

### Example 1

In [48]:
df = pd.DataFrame(np.random.randn(8, 4), index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

p   -0.675295
q    1.631744
r    1.716762
s    0.926394
t   -0.188456
u   -1.798482
v    0.222883
w    0.296438
Name: A, dtype: float64

### Example 2

In [49]:
df = pd.DataFrame(np.random.randn(8, 4), index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
p -1.211882  0.214849
q -1.065801 -0.861959
r  0.513366 -0.668115
s  0.965324 -0.862597
t  0.253254 -0.978663
u -0.689753  1.180268
v  1.134289 -0.573223
w -1.642015  1.021504

### Example 3

In [50]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select few rows for multiple columns
print (df.loc[['a','b','f','h'],['A','C']])

          A         C
a -1.073734  2.457805
b  0.745852 -0.769083
f -0.867486  0.597630
h -1.424676 -0.995177

### Example 4

### Example 5: Conditional Access

In [52]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

# for getting values with a boolean array
print (df.loc['p']>0)

A     True
B    False
C    False
D    False
Name: p, dtype: bool

## Indexing with .iloc()

Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows −

- An Integer
- A list of integers
- A range of values

### Example 1

In [53]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])

# select all rows for a specific column
print (df.iloc[:4])

          a         b         c         d
0  0.904754  0.337680  0.508223 -1.058878
1 -0.532695 -0.431545 -0.162719  1.928955
2 -0.991537  1.038848  0.689747  0.637071
3 -0.626152  1.014243  1.054004 -1.508686

### Example 2

In [54]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])

# Integer slicing
print (df.iloc[:4])
print (df.iloc[1:5, 2:4])

          a         b         c         d
0 -0.388369  1.319347  0.851811 -1.217552
1 -0.164599  0.702187  0.534779 -0.118588
2 -0.512155 -0.162196  1.318415 -0.974556
3  1.943318 -0.898667  0.619465 -0.044965
          c         d
1  0.534779 -0.118588
2  1.318415 -0.974556
3  0.619465 -0.044965
4 -0.716947 -0.773281

### Example 3

In [56]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])
# Slicing through list of values
print (df.iloc[[1, 3, 5], [1, 3]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

          b         d
1 -0.333712  2.202506
3 -0.694579 -0.567488
5  0.484190 -0.422380
          a         b         c         d
1 -0.665368 -0.333712  1.011703  2.202506
2  0.565993 -0.131646  0.757702 -1.628908
          b         c
0 -0.040862 -0.346029
1 -0.333712  1.011703
2 -0.131646  0.757702
3 -0.694579  1.196766
4 -0.533025  1.123446
5  0.484190  0.591972
6 -0.320016 -0.211021
7  0.422171  1.914503

## Indexing with .ix()

Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator. Use of ix is deprecated.

### Example 1

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])

# Integer slicing
print (df.ix[:4])

          a         b         c         d
0 -1.007011  0.507975  0.737194  0.079059
1 -1.696607 -0.737366  0.019028  1.073556
2 -0.149849  0.352964  0.104273 -0.820512
3 -1.510908 -0.557355 -0.197168  1.033226
4  0.218402 -1.102856  0.193069  1.151945

/Users/pranavshastri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### Example 2

In [4]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])
# Index slicing
print (df.ix[:,'b'])

0   -0.592630
1    2.333546
2   -0.191101
3   -0.258999
4    0.753809
5    0.040381
6    1.865787
7    1.019270
Name: b, dtype: float64

/Users/pranavshastri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

## Use of Notations

Getting values from the Pandas object with Multi-axes indexing uses the following notation −

![](../all_images/pandas_noti.PNG)

### Indexing with []

Let us now see how each operation can be performed on the DataFrame object. We will use the basic indexing operator '[ ]'

### Example 1

In [59]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['c_0', 'c_1', 'c_2', 'c_3'])
print (df['c_2'])

0    0.815728
1   -2.018651
2   -0.712686
3   -0.250534
4    1.284177
5    0.208350
6   -0.449534
7    1.140519
Name: c_2, dtype: float64

Note − We can pass a list of values to [ ] to select those columns.

### Example 2

In [60]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['c_0', 'c_1', 'c_2', 'c_3'])

print (df[['c_1','c_2']])

        c_1       c_2
0 -0.903945 -0.456470
1  0.679146 -0.756001
2 -0.494437  0.584851
3 -0.824518 -0.110430
4 -1.088866  0.658546
5  0.805630 -1.244811
6  0.645045 -1.244987
7  0.626973  1.364706

### Example 3

In [63]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['c_0', 'c_1', 'c_2', 'c_3'])
print(df[0:2])

        c_0       c_1       c_2       c_3
0 -2.006115 -0.271351  0.333551 -1.192172
1 -0.525778 -1.049774 -0.290127  0.089914

### Attribute Access
Columns can be selected using the attribute operator '.'.

### Example

In [65]:
df = pd.DataFrame(np.random.randn(9, 5), columns = ['v_0', 'v_1', 'v_2', 'v_3','v_4'])
print (df.v_1)

0   -0.157719
1   -0.738476
2    1.903664
3    0.256776
4    0.020728
5    0.176312
6    0.902064
7   -0.557229
8    1.019457
Name: v_1, dtype: float64

## Vectorized Operations

When working with raw NumPy arrays, looping through value-by-value is usually not necessary. The same is true when working with Series in pandas. Series can also be passed into most NumPy methods expecting an ndarray.

In [3]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5))

print("Original series")
print(s)
print("Series after Addition")
print(s + s)
print("Series after Exponentiation")
print(np.exp(s))

Original series
0    0.112859
1    0.676674
2   -1.439168
3    0.242483
4    0.414989
dtype: float64
Addition result
0    0.225717
1    1.353348
2   -2.878336
3    0.484966
4    0.829979
dtype: float64

## Pandas - Missing Data

Missing data is always a problem in real life scenarios. Areas like machine learning and data mining face severe issues in the accuracy of their model predictions because of poor quality of data caused by missing values. In these areas, missing value treatment is a major point of focus to make their models more accurate and valid.

### When and Why Is Data Missed?

Let us consider an online survey for a product. Many a times, people do not share all the information related to them. Few people share their experience, but not how long they are using the product; few people share how long they are using the product, their experience but not their contact information. Thus, in some or the other way a part of data is always missing, and this is very common in real time.

Let us now see how we can handle missing values (say NA or NaN) using Pandas.

In [67]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 3), index=['a', 'c', 'e', 'f', 'h','b','d','g'],
                  columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a  2.280319 -2.302699  0.017962
b  0.458703  0.515308  0.022270
c -0.047162  1.091385 -2.709624
d -0.969523  0.137780 -0.099236
e -0.216595 -2.488360  0.297563
f -0.368794 -1.475695 -0.325017
g -1.043327 -0.007183  0.247858
h  0.648122  0.320254  0.072942

Using reindexing, we have created a DataFrame with missing values. In the output, NaN means Not a Number.

### Checking for Missing Values

Pandas provides the following functions:

- isnull()
- notnull() 

which are also methods on Series and DataFrame objects −

### Example 1

In [ ]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(8, 3), index=['a', 'c', 'e', 'f', 'h','b','d','g'],
                  columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df['one'].isnull())
print (df['one'].notnull())

### Example 2

In [70]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])    # reindexing introduces missing values

print(df)
print (df['one'].notnull())

        one       two     three
a -1.413183 -1.127535  0.818757
b       NaN       NaN       NaN
c -1.812106  1.588395  0.226940
d       NaN       NaN       NaN
e  1.075134 -0.546232  0.649671
f -0.927249 -0.189084  0.909796
g       NaN       NaN       NaN
h -0.248503 -0.153603  0.114346
a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

### Calculations with Missing Data

- When summing data, NA will be treated as Zero
- If the data are all NA, then the result will be NA

### Example 1

In [73]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df['one'])
print(df['one'].sum())
print(df['one'].count())   # Number of non-missing values

a   -0.748971
b         NaN
c   -0.490609
d         NaN
e    0.174751
f    1.456379
g         NaN
h   -0.672946
Name: one, dtype: float64
-0.28139477298331805
5

### Example 2

In [74]:
df = pd.DataFrame(index=[0,1,2,3,4,5],columns=['one','two'])
print (df['one'].sum())

0

## Cleaning / Filling Missing Data

Pandas provides various methods for cleaning the missing values. The fillna function can “fill in” NA values with non-null data in a couple of ways, which we have illustrated in the following sections.

## Replace NaN with a Scalar Value

The following program shows how you can replace "NaN" with "0".

In [75]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])

df = df.reindex(['a', 'b', 'c'])

print (df)
print (("NaN replaced with '0':"))
print (df.fillna(0))

        one       two     three
a  0.261828 -0.104380  0.095870
b       NaN       NaN       NaN
c -0.998805  0.373844 -0.916577
NaN replaced with '0':
        one       two     three
a  0.261828 -0.104380  0.095870
b  0.000000  0.000000  0.000000
c -0.998805  0.373844 -0.916577

Here, we are filling with value zero; instead we can also fill with any other value.

## Fill NA Forward and Backward

Using the concepts of filling we will fill the missing values.

![](../all_images/pandas_missing.PNG)

### Example 1

In [76]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['m-0', 'm-1', 'm-2'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df.fillna(method='pad'))

        m-0       m-1       m-2
a -0.314034 -1.125357 -1.004336
b -0.314034 -1.125357 -1.004336
c  0.157516 -1.596945 -1.013934
d  0.157516 -1.596945 -1.013934
e -0.392949  0.538135  1.024127
f -1.773665 -1.989713 -0.749779
g -1.773665 -1.989713 -0.749779
h -0.025882 -0.012192 -0.535862

### Example 2

In [77]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['m-0', 'm-1', 'm-2'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df.fillna(method='backfill'))

        m-0       m-1       m-2
a  0.251081  0.820292  0.984768
b  1.059976 -0.096759 -0.649338
c  1.059976 -0.096759 -0.649338
d -0.478337 -0.146367  0.279280
e -0.478337 -0.146367  0.279280
f -0.839907 -1.564960 -0.379557
g -0.067935 -0.788253 -1.723855
h -0.067935 -0.788253 -1.723855

## Drop Missing Values

If user want to simply exclude the missing values, then use the dropna function along with the axis argument. By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

### Example 1

In [78]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna())

        one       two     three
a  1.571240 -0.042582  1.113559
c  1.120191  0.420467  0.645493
e  1.024160  0.489686 -1.421656
f  1.742446  0.642588  1.177291
h -0.754363  1.780745 -1.386221

### Example 2

In [79]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

## Replace Missing (or) Generic Values

Many times, we have to replace a generic value with some specific value. We can achieve this by applying the replace method.

Replacing NA with a scalar value is equivalent behavior of the fillna() function.

### Example 1

In [81]:
df = pd.DataFrame({'one':[10.1,20.2,30.3,40,50,2000], 'two':[1000.00,0,30,40,50,60]})
print(df)
print (df.replace({1000.00:10,2000:60.66}))

      one     two
0    10.1  1000.0
1    20.2     0.0
2    30.3    30.0
3    40.0    40.0
4    50.0    50.0
5  2000.0    60.0
     one   two
0  10.10  10.0
1  20.20   0.0
2  30.30  30.0
3  40.00  40.0
4  50.00  50.0
5  60.66  60.0

### Example 2

In [82]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})
print(df)
print(df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

## Hierarchical indexing (MultiIndex)

Hierarchical / Multi-level good for some quite sophisticated data analysis and manipulation, especially when user working with higher dimensional data. In case,data structures like Series (1d) and DataFrame (2d).

### Creating a MultiIndex (hierarchical index) object

The MultiIndex object is the hierarchical analogue of the standard Index object which typically stores the axis labels in pandas objects. User can think of MultiIndex as an array of tuples where each tuple is unique. It can be created from:
- list of arrays (using MultiIndex.from_arrays())
- an array of tuples (using MultiIndex.from_tuples())
- a crossed set of iterables (using MultiIndex.from_product())
- a DataFrame (using MultiIndex.from_frame()).

The Index constructor will attempt to return a MultiIndex when it is passed a list of tuples. The following examples demonstrate different ways to initialize MultiIndexes.

In [ ]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
   ...:           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))

In [ ]:
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['one', 'two'])

In [ ]:
index

In [ ]:
s = pd.Series(np.random.randn(8), index=index)

In [ ]:
s

When user want every pairing of the elements in two iterables, it can be easier to use the MultiIndex.from_product() method:

In [ ]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]

In [ ]:
 pd.MultiIndex.from_product(iterables, names=['first', 'second'])

As a convenience, user can pass a list of arrays directly into Series or DataFrame to construct a MultiIndex automatically:

In [ ]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
   ....:           np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [ ]:
s = pd.Series(np.random.randn(8), index=arrays)

In [ ]:
s

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)

In [ ]:
df

All of the MultiIndex constructors accept a names argument which stores string names for the levels themselves. If no names are provided, None will be assigned:

In [ ]:
df.index.names

This index can back any axis of a pandas object, and the number of levels of the index is up to user:

In [ ]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)

In [ ]:
df

In [ ]:
 pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

## Groupby

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [9]:
# Let's compute mean speed of animals in the below example
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [11]:
# Group by based on hierarchical index
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
print(df)
print(df.groupby(level=0).mean())
print(df.groupby(level="Type").mean())

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
         Max Speed
Type
Captive      210.0
Wild         185.0

## Pivot Table

Spreadsheet-style pivot tables can be created as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

In [3]:
# Let's create a dataframe with data and multi
import pandas as pd

df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small", "small", "large", "small", "small", "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
print(df)

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [5]:
# Aggregate values, and compute the sum!
import numpy as np
table = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [6]:
# Aggregate by taking the mean across multiple columns
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E': np.sum})
table

                  D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

In [8]:
# Calculate multiple types of aggregations for any given value column
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E': [min, max, np.mean]})
table

                  D    E
               mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0

## Export Pandas DataFrame to a CSV File

In [ ]:
#syntax

df.to_csv('Path where you want to store the exported CSV file\File Name.csv')

In [ ]:
#Example

from pandas import DataFrame

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = DataFrame(cars, columns= ['Brand', 'Price'])

print (df)

if user want to export the DataFrame you just created to a CSV file.

In [ ]:
export_csv = df.to_csv (r'export_dataframe.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

User can check export_dataframe.csv into repective directory.

## Practice Work

- Write a Pandas program to convert a Panda module Series to Python list and it’s type.
- Write a Pandas program to convert a dictionary to a Pandas series.

  Sample dictionary: d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
  
  
- Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

Sample DataFrame:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

- Write a Pandas program to select the specified columns and rows from a given DataFrame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the above data frame.

## Source(s)
- https://pandas.pydata.org/pandas-docs/stable/overview.html
- https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html
- https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html
- https://www.tutorialspoint.com/python_pandas/python_pandas_missing_data.htm